.page-header {
  display: flex;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/Header-H.png);
  position: relative;
  z-index: 1;



  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../../images/Header-H@2x.png);
  }
}
