// .page-nav {
//   display: flex;
//   justify-content: space-between;
//   font-family: $main-font-stack;
//   margin-bottom: 142px;
// }

// .site-navigation {
//   display: flex;
//   list-style: none;
//   justify-content: space-between;
//   width: 620px;
//   margin: 0;
//   align-items: center;
//   text-transform: uppercase;
// }

// .site-navigation__link {
//   @include font-settings (14px, 400);
//   text-decoration: none;
//   color: $primary-white-color;
//   padding: 10px 0;
//   fill: $primary-white-color;

//   &:hover {
//     color: $hover-color;
//     fill: $hover-color;
//   }
// }


// .site-navigation__link--hover:hover {
//   border-bottom: 3px solid $hover-color;
// }
.site-logo {
  height: 26px;
  width: 100px;
  background-color: rgba(0, 0, 0, .0);
  border: none;
  z-index: 1;
  // position: absolute;
  // top: 16px;
  // left: 20px;
}

.wrapper {
  margin: 20px 20px;
  width: 28px;
  // position: relative;
  color: white;
  height: 20px;
}

#check-menu {
  display: none;
}


.burger-line {
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transition: .5s all;
  z-index: 1;
}

.first {
  top: 20px;
}

.second,
.third {
  top: 29px;
}

.fourth {
  top: 38px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
  background-color: #824fe3;
}

.check-menu {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 28px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

a {
  display: block;
  width: 320px;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, .3);
  // background-color: #000;
}

#check-menu:checked~.main-menu {
  max-height: 559px;
  font-size: 16px;
}

#check-menu:checked~.first {
  display: none;
}

#check-menu:checked~.second {
  transform: rotate(45deg);
}

#check-menu:checked~.third {
  transform: rotate(-45deg);
}

#check-menu:checked~.fourth {
  display: none;
}
