.section_title-container {
  display: flex;
  // height: 30px;
  margin-bottom: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #e9ac38;
  border-radius: 50%;
  margin-right: 10px;
}

.spike {
  padding-bottom: 2px;
  padding-left: 2px;
}

.circle_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.first {
  width: 18px;
  height: 18px;
  background-image: url("../images/layer7.png");

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../images/Слой_7@2x.png");
  }
}

.second {
  width: 16px;
  height: 16px;
  background-image: url("../images/layer6.png");

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../images/Слой_6@2x.png");
  }
}

.third {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon_3.png");

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../images/icon_333@2x.png");
  }
}

.section_title {
  color: #272727;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
  z-index: 1;
}

@media (min-width: 767px) {
  .circle_image:nth-child(2) {
    background-image: url("../images/layer6.png");
  }
}

@media (min-width: 1440px) {
  .section_title {
    font-size: $fs-33;
  }
}
