.wrapper-footer {
  width: 192px;
  margin: 0 auto;

  @media (min-width: 767px) and (max-width: 1439px) {
    width: 622px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    width: 1300px;
  }

  .wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
